<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.1.1" targetFramework="net461" developmentDependency="true" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Targets.Syslog" version="2.1.5893.18660" targetFramework="net461" />
  <package id="PostSharp" version="4.2.21" targetFramework="net461" />
</packages>